.footer {
  background: var(--color6);
  color: var(--color4);
  min-height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: xx-small;
  text-align: center;
  border-top: 1px solid var(--color7);
}
