.footer {
  background: rgb(61, 79, 93);
  /*background: var(--color1); */
  color: var(--color5);
  min-height: 30px;
  line-height: 30px;
  width: 100%;
  font-size: x-small;
  text-align: center;
  z-index: 998;
}
