.tabs {
  font-family: inherit;
}

.tabButtons {
  border-bottom: 1px solid #bbb;
}

.tabButtons button {
  padding: 2px 24px;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
  border-bottom: none;
  box-shadow: none;
}

.tabButtons button:global(.active) {
  border-bottom: none;
  background-color: rgb(153, 204, 255);
}

.tabButtons button:hover {
  border-bottom: none;
  background-color: #ccc;
}

.tabButtons button:focus {
  border-bottom: none;
  background-color: rgb(153, 204, 255);
}

.tabContent {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
}

.tabContent:global(.active) {
  display: block;
}
