table.TableWidget {
  border-collapse: collapse;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.TableWidget thead tr th {
  padding: 0.5em 1em;
  text-align: left;
}

table.TableWidget tbody tr td {
  padding: 0.2em 1em;
}

table.TableWidget tbody tr:nth-of-type(even) {
  background-color: #f0f0f0;
}

table.TableWidget tbody tr:last-of-type {
  border-bottom: 4px solid var(--color2);
}

table.TableWidget tbody tr:hover {
  background-color: #c3d3e3;
}
