/* -----------------------------------------------
A SIMPLE CSS STYLESHEET BASED ON
SKELETON CSS (http://getskeleton.com/)
-------------------------------------------------- */

/* -----------------------------------------------
 Table of contents
--------------------------------------------------
- Base Styles
- Typography
- Links
- Icon Links
- Buttons
- Forms
- Modal Forms
- Definitions
- Lists
- Code / Pre
- Blockquote + cite
- Tables
- Tabbed dialog
- Spacing
- Utilities
- Misc
- Clearing
- Colors
- Page Elements
*/

/* Global Variables */
:root {
  --color1: #0081c9;
  --color2: #ed7700;
  --color3: #425363;
  --color4: #bbbbbb;
  --color5: #dddddd;
}

/* -----------------------------------------------
 Base Styles
-------------------------------------------------- */

:root,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family:
    Inter, ui-sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #3c3c43;
  overflow-y: scroll;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

.route {
  flex: 1 1;
}

/* ------------------------------------------------
 Grid

 .container - creates a fixed width layout based on
             1140px width

 fluid layout using media selectors, 
 .col       - represents a column that floats left
 .d0        - column width (default)
 .s0        - column width (small)
 .m0        - column width (medium)
 .l0        - column width (large)
 .xl0       - column width (x-large)

 Element must use the col class and the column
 width together (combined class selector)

 Multiple columns all float left.
 .row class (see clearing section) clears floats
--------------------------------------------------- */

.container-fixed {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1140px;
}

/* ------------------------------------
 Typography
--------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.4;
  color: rgb(61, 79, 93);
  margin: 0px;
}

h1 {
  font-size: 2em;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -0.05em;
}

h3 {
  font-size: 1.6em;
  letter-spacing: -0.05em;
}

h4 {
  font-size: 1.4em;
  letter-spacing: -0.025em;
}

h5 {
  font-size: 1.2em;
  letter-spacing: -0.025em;
}

h6 {
  font-size: 1em;
  letter-spacing: 0;
}

/* -----------------------------------
 Links
-------------------------------------- */

a {
  color: #456789;
  text-decoration: none;
}

a:hover {
  color: #123456;
}

/* -----------------------------------
 Icon Links
-------------------------------------- */

a.icon {
  border: solid 0.2em #ddd;
  padding: 0.2em;
  border-radius: 2em;
  cursor: pointer;
}

a.icon:hover {
  border: solid 0.2em;
  padding: 0.2em;
  border-color: steelblue;
  border-radius: 2em;
  cursor: pointer;
}

.clickable-content:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----------------------------------
 Buttons
------------------------------------- */

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block; /* Ensure both behave similarly */
  vertical-align: middle; /* Align to middle of line box */
  line-height: 1.5;
  margin-right: 4px;
  padding: 0 20px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 30px;
  /*letter-spacing: 0.1em;*/
  /*text-transform: uppercase;*/
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  /*background-color: white;*/
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  outline: 0;
  transform: translateY(-0px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.button.primary,
button.primary,
input[type='submit'].primary,
input[type='reset'].primary,
input[type='button'].primary {
  color: #234567;
  background-color: rgb(153, 204, 255); /* #33C3F0; */
  border-color: transparent;
  border-width: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.button.primary:hover,
button.primary:hover,
input[type='submit'].primary:hover,
input[type='reset'].primary:hover,
input[type='button'].primary:hover,
.button.primary:focus,
button.primary:focus,
input[type='submit'].primary:focus,
input[type='reset'].primary:focus,
input[type='button'].primary:focus {
  transform: translateY(-0px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------
 Forms
------------------------------------------------ */

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='checkbox'],
input[type='radio'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  min-height: 30px;
  min-width: 30px;
  padding: 1px 6px; /* The 1px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type='checkbox'],
input[type='radio'] {
  min-height: 20px;
  min-width: 20px;
}

/* form elements in tables slightly condensed */
td > input[type='email'],
td > input[type='number'],
td > input[type='search'],
td > input[type='text'],
td > input[type='checkbox'],
td > input[type='radio'],
td > input[type='tel'],
td > input[type='url'],
td > input[type='password'],
td > textarea,
td > select {
  min-height: 20px;
}

textarea {
  min-height: 65px;
  padding: 4px 6px;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* readonly forms */
input[readonly] {
  background: #eee;
  color: #666;
}

form p {
  margin-top: 9px;
}

label,
legend {
  display: block;
  font-weight: 600;
}

fieldset {
  padding: 6px;
  border: 1px solid #ccc;
  border-width: 1px;
  border-radius: 4px;
  /*box-shadow: 12px 12px 5px #666;*/
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

form label {
  text-align: left;
}

/* v-align any text element immediately after radio button */
form input[type='radio'] + *,
form input[type='checkbox'] + * {
  line-height: 20px;
  vertical-align: top;
  padding-left: 6px;
  margin-right: 20px;
}

/* ---------------------------------------------
 Modal Forms
------------------------------------------------ */

.modal {
  /*display: none; */ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* ---------------------------------------------
 definitions
------------------------------------------------ */

dl {
  border: 3px double #ccc;
  padding: 0.5em;
}

dl * {
  display: none;
  float: left;
}

dl:after {
  content: '';
  display: table;
  clear: both;
}

dt {
  visibility: visible;
  width: 25%;
  text-align: right;
  font-weight: bold;
  display: inline-block;
  color: rgb(61, 79, 93);
  box-sizing: border-box;
  padding-right: 3px;
  margin: 0px;
}

dt:after {
  content: ':';
}

dd {
  visibility: visible;
  width: 75%;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 3px;
  margin: 0px;
}

/* ---------------------------------------------
 Lists
------------------------------------------------ */

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0.5em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.5em 0 0.5em 3em;
  font-size: 90%;
}

li {
  margin-bottom: 0.25em;
}

/* ---------------------------------------------
 Code / Pre
------------------------------------------------ */

code {
  padding: 0.2em 0.5em;
  margin: 0 0.2em;
  font-size: 90%;
  white-space: pre-line;
  background: #f5f5dc;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  border-left: 4px solid;
}

pre > code {
  display: block;
  padding: 1em 1.5em;
}

/* ---------------------------------------------
 Blockquote + cite
------------------------------------------------ */

blockquote {
  border-left: 10px solid rgb(61, 79, 93);
  background: #f9f9f9;
  font-family: Georgia, serif;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 60px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: '\201C';
  font-size: 60px;
  position: absolute;
  left: 20px;
  top: 0px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: '\2014 \2009';
}

/* ---------------------------------------------
 Tables
------------------------------------------------ */

th,
td {
  padding: 6px 12px;
  text-align: left;
  border-bottom: 1px solid #c1c1c1;
}

th {
  background-color: rgb(153, 204, 255);
}

/* second header line (filter bar?) normal font */
tr:nth-child(2) > th {
  font-weight: 400;
}

/* filter elements on table headers */
th > input {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ---------------------------------------------
 Tabbed dialog
------------------------------------------------ */

ul.tab-nav {
  list-style: none;
  border-bottom: 1px solid #bbb;
  padding-left: 5px;
}

ul.tab-nav li {
  display: inline;
}

ul.tab-nav li a.button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
  border-bottom: none;
}

ul.tab-nav li a.active.button {
  border-bottom: 1px solid #fff;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

/* ---------------------------------------------
 Spacing
------------------------------------------------ */

button,
.button,
input,
textarea,
select,
fieldset,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 0.5em;
}

td > button,
td > .button,
td > input,
td > textarea,
td > select,
td > fieldset,
td > pre,
td > blockquote,
td > dl,
td > figure,
td > table,
td > p,
td > ul,
td > ol,
td > form {
  margin-bottom: 0em;
}

/* ---------------------------------------------
 Utilities
------------------------------------------------ */

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.half-width {
  width: 50%;
  box-sizing: border-box;
}

.third-width {
  width: 33%;
  box-sizing: border-box;
}

.quarter-width {
  width: 25%;
  box-sizing: border-box;
}

.tiny-width {
  width: 50px;
}

.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.inline {
  display: inline;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.align-center {
  text-align: center;
}

/* ---------------------------------------------
 Misc
------------------------------------------------ */

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

/* ---------------------------------------------
 Clearing
------------------------------------------------ */

/* Self Clearing Goodness */
.container:after,
.container-fixed:after,
.row:after,
.clear-float {
  content: '';
  display: table;
  clear: both;
}

/* ---------------------------------------------
 Colors
------------------------------------------------ */

.background-grey {
  background: grey;
}

.color-grey {
  color: grey;
}

.background-blue {
  background: rgb(61, 79, 93);
}

.color-blue {
  color: rgb(61, 79, 93);
}

.background-white {
  background: white;
}

.color-white {
  color: white;
}

.background-yellow {
  background: rgb(255, 255, 204);
}

.color-yellow {
  color: rgb(255, 255, 204);
}

.background-green {
  background: rgb(204, 255, 204);
}

.color-green {
  color: rgb(204, 255, 204);
}

.background-red {
  background: rgb(255, 204, 204);
}

.color-red {
  color: rgb(255, 204, 204);
}

/* ---------------------------------------------
 Page Elements
------------------------------------------------ */

header {
  position: fixed;
  height: 40px;
  top: 0px;
  width: 100%;
  z-index: 999;
  /*opacity: 0.9;*/
  background: #222;
  color: white;
  padding: 0px;
}

.header-down {
  top: 0px;
  transition: top 1s;
}

.header-up {
  top: -40px;
  transition: top 1s;
}

.route {
  padding: 12px;
}

header a {
  color: #999;
  float: left;
  margin-right: 18px;
  height: 40px;
  line-height: 40px;
  padding: 0px 16px;
}

header a:hover {
  color: white;
  background: #333;
}

nav {
  background: #dadada;
  color: black;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  margin-bottom: 6px 0;
  border: 1px solid rgb(61, 79, 93);
  border-top: 0px solid rgb(61, 79, 93);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0px;
}

nav a {
  padding: 0px 8px;
  float: left;
  height: 40px;
  line-height: 40px;
  border-left: 8px solid transparent;
}

nav a:hover {
  background: #aaa;
  border-left: 8px solid black;
}

.title {
  background: rgb(61, 79, 93);
  color: white;
  font-size: 2em;
  font-weight: 500;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
  text-indent: 12px;
}

.logo {
  text-align: center;
  vertical-align: middle;
}

.panel,
.message {
  padding: 4px;
  margin: 0.5em 0;
  border-width: 0.1em;
  border-radius: 0.2em;
  margin-bottom: 1em;
  font-weight: 500;
  border-color: #ddd;
}

.message {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 98%;
  z-index: 999;
  box-sizing: border-box;
}

.error {
  background: rgb(255, 204, 204);
  border: 1px solid red;
  border-left: 10px solid red;
  padding: 12px;
}

.error > ul {
  margin-bottom: 0px;
}

.success {
  background: rgb(204, 255, 204);
  border: 1px solid green;
  border-left: 10px solid green;
  padding: 12px;
}

.sticky-note-green {
  border-left: 12px solid green;
}

.sticky-note-red {
  border-left: 12px solid red;
}

.sticky-note-yellow {
  border-left: 12px solid yellow;
}

.sticky-note-white {
  border-left: 12px solid lightgrey;
}
